@model IEnumerable<AppV1.Models.HistorialBusquedas>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3 p-4" style="background-color:white;">
<h1 class="mb-3 pb-2" style="text-align:center;">Historial de Busqueda</h1>
<table class="table ">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Peticion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Peticion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.URL)
            </td>
            <td>
                <a  class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a class="btn btn-outline-success " asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a class="btn btn-outline-warning " asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a class="btn btn-outline-danger" asp-action="Create">Crear Petición</a>
</p>
</div>
